body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 512px; /* 16 * 32px (size of each square) */
    height: 512px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-square {
    /*width: 32px;*/ /* 512px / 16 = 32px */
    /*height: 32px;*/
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    border: 1px solid #eee;
    background-color: white;
}

.hovered {
    background-color: grey;
}