body{
    text-align: center;
    min-height: 100vh;
    margin: 0;
    padding: 36px;
    background-color: #f0f0f0;
}

.button{
    padding-top: 36px;
    font-size: 36px;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 512px; /* 16 * 32px (size of each square) */
    height: 512px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.grid-square {
    /*width: 32px;*/ /* 512px / 16 = 32px */
    /*height: 32px;*/
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    border: 1px solid #eee;
    background-color: white;
}

.color-container{
    display: flex;
    justify-content: center;
    gap: 36px;
}

.color{
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid black;
}

.hovered {
    background-color: grey;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.grey {
    background-color: grey;
}

.white {
    background-color: white;
}